*{box-sizing: border-box;}

body{ margin:0;}

header{height:65px;
             background-color:rgb(31, 31, 31);
             width:100%; 
             position:fixed;      
}

.container{ margin:0 auto;
                  width:100%;
                  max-width:1170px;
                  padding:0 20px;
                  
                }
.header-left{float:left;}

.title{
        width:170px;}

.header-icons{display:inline-block;
        color:white;
        line-height: 70px;
        width:40px;
        font-size:30px;
      }
.twitter{margin-left:20px;}


.header-right{float:right;
  }

.contents-link{float:left;
                     font-family: 'Josefin Sans', sans-serif;
                     color:white;
                     display:block;
                     margin:0 20px;
                     font-size:25px;
                    line-height:65px;
                    }

.menu-icon{display:none;
                  float:right;
                            
}                    
input{display:none;
}

#in{display:none;
       position:absolute;
       top:22px;
       right:0px;
}

#out{display:none;
         position:absolute;
         top:22px;
         right:0px;
}



#responsive-menu{display:none;
                            position:fixed;
                            width:200px;
                            height:100%;
                          top:65px;
                          right:0;
                          padding-bottom:65px;
                          background-color:white;
                          transform:translateX(200px);
                          transition:all 0.3s ease-in-out;
                        }



#check:checked ~ #responsive-menu{transform:translateX(0px);
}
#check:checked ~ #in{display:none;
                                  }

#check:checked~#out{display:block;}

.top-wrapper{
                     width:100%;
                     background-image:url("hp_img/hp_bg.jpg");
                     background-size:cover;
                     text-align:center;
                     font-family: 'Josefin Sans', sans-serif;
                     color:white;
                    }
.tops{ background-color:rgba(0,0,0,0.7);
          padding:100px 0;
        }
.contents-title{font-size:70px;
                      font-weight:normal;
                      border-bottom:1px solid white;
                      padding:20px 0;}

.topicks{font-size:45px;}


.red{color:white;
        background-color:red;
        padding:6px 5px 0 5px;
        border-radius:5px;
        margin-right:10px;
      }

.contents-wrapper{padding:40px 20px;
                    background-color:black;
                    text-align:center;
                    color:white;
                    font-family:'Josefin Sans', sans-serif;
                  }

.contents-line{border:2px solid White;}

 .live-information{margin-bottom:100px;}                 
.date{ font-size:25px;
          color:gray;
          margin-bottom:60px;}

.lists{ margin-bottom:50px}

.smapho-video{display:none;}

.edge{ color:red;}
.rain{color:skyblue;}
.role{color:orange;}

.other-link{display:inline-block;
                    padding:30px;
                    border:1px solid white;
                    margin-bottom:50px;
                    color:white;
                    font-size:30px;
                    transition:all 1s;
}
.other-link:hover{background-color:white;
                              color:black;
}

.jacket{width:50%;}

.artist-photo{width:60%;}

.bio-txt{display:inline-block;
            width:50%;}

#goods p{font-size:30px;
              }

#goods img{width:50%;}
